html
  head
    title= title
  body
    h1 The Number Quiz
    p Your Current score is #{message}
    p Guess the next number in the sequence
    p #{sequence}
    form(action="/guess", method="post") 
      label(for="nextNumber") Your answer: 
        input(type='text' name='nextNumber')
        br
      button(type="submit") Submit