body {
  background-color: #333333;
  font-family: Georgia, 'Times New Roman', Times, serif sans-serif;
  font-size: medium;
}
.container {
  margin: auto;
  width: 80%;
  padding: 10px;
}
.mainpoints {
  color: orange;
}

.titles{
  color: cornflowerblue;
}

li, p {
  color: white;
}

ol { 
  list-style-type: decimal; 
}

a, .imdbLink {
  color: red;
  text-decoration: none;
}

.imdbLink:hover {
  text-decoration: underline;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row {
  clear: both;
  display: table;
}

.imgText {
  color: white;
  vertical-align: middle;
}

p::first-letter {
  font-size: 1.5em;
}

.word {
  color: orange;
}

.definition {
  font-size: .8em;
}

